# ignore all
*
!*/

# allow list
!_docs/setup.md
!_docs/setup_common.sh
!_docs/setup_linux.sh
!_docs/setup_macos.sh

!_ai_works/update_branch_protection_rules.sh

!git/git_template/hooks/pre-push
!git/config
!git/ignore
!git/message

!nvim/sonic-template/go/base-table_driven_test.go
!nvim/UltiSnips/go.snippets
!nvim/UltiSnips/sh.snippets
!nvim/UltiSnips/typescript.snippets
!nvim/UltiSnips/vim.snippets
!nvim/coc-settings.json
!nvim/init.vim
!nvim/lazysource.vim
!nvim/minimal.init.vim
!nvim/lua/myconfig.lua
!nvim/fzf-any-dictionary
!nvim/after/ftplugin/help.vim

# plugins for copilot
nvim/pack/
# copilot.vim
# copilot.lua, CopilotChat.nvim
!nvim/lua/copilot-setting.lua.base

!scripts/date-to-ts.sh
!scripts/github_compare.sh
!scripts/github_go.sh
!scripts/github_search_PR.sh
!scripts/google.sh
!scripts/mru-branch-list.sh
!scripts/my-ascii.sh
!scripts/print256colours.sh
!scripts/refresh-mv.sh
!scripts/s-quote.sh
!scripts/tmpspace.sh
!scripts/ts-to-date.sh
!scripts/tmnew-repo-session

!tmux/tmux-session-fzf
!tmux/tmux.conf

!vscode/snippets/go.json
!vscode/extensions
!vscode/keybindings.json
!vscode/settings.json
!vscode/setup.md
!vscode/setup_common.sh
!vscode/setup_linux.sh
!vscode/setup_macos.sh

!zsh/zsh.d/zshbasic
!zsh/zsh.d/zshfzf
!zsh/zsh.d/zshhooks
!zsh/zsh.d/zshzplug
!zsh/zsh.d/git-commands
!zsh/.zshrc

!.editorconfig
!.gitignore
!.wezterm.lua
!.zshenv
!README.md
!vifmrc
!Makefile

!lazygit/config.yml

!karabiner/karabiner.json

!yazi/keymap.toml
!yazi/yazi.toml

!borders/bordersrc

!CLAUDE.md
!claude/CLAUDE.md
!claude/settings.json
!claude/settings-sample.json
!claude/commands/japanese-hello.md
!claude/commands/nippou/nippou-add.md
!claude/commands/code-reading/how-to-read.md

!example.taskpaper
