snippet enumTSRecommended "const Obj = {...} as const"
const ${1:TypeName} = {
} as const
type $1 = typeof $1[keyof typeof $1]
endsnippet

snippet eslintIgnoreThisLine "// eslint-disable-line ..."
// eslint-disable-line ${1:detail}
endsnippet

snippet eslintIgnoreNextLine "// eslint-disable-next-line ..."
// eslint-disable-next-line ${1:detail}
endsnippet
